@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
    /* This range allows you to use any weight from 100 to 900 */
    font-weight: 100 900;
    font-style: normal;
}

body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    font-weight: 400; /* Standard reading weight */
    line-height: 1.6;
    color: #1a252c;
}

h1 {
    font-weight: 800; /* Extra Bold */
    letter-spacing: -0.02em; /* Inter looks great tight in headers */
}
